<%= form_for(@tturn_in) do |f| %>
  <% if @tturn_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tturn_in.errors.count, "error") %> prohibited this tturn_in from being saved:</h2>

      <ul>
      <% @tturn_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @tturn_in.exercises_id.nil? %> "Assignment" %><br>
  <div class="field">
    <%= f.label :exercises_id, "Exercises" %><br>

  </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
