<h1>Listing tturn_ins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exercises</th>
      <th>Url</th>
      <th>Completed</th>
      <th></th>
      <th>=</th>
      <th>Priority</th>
      <th>Default</th>
      <th>=</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tturn_ins.each do |tturn_in| %>
      <tr>
        <td><%= tturn_in.user_id %></td>
        <td><%= tturn_in.exercises_id %></td>
        <td><%= tturn_in.url %></td>
        <td><%= tturn_in.completed %></td>
        <td><%= tturn_in. %></td>
        <td><%= tturn_in.= %></td>
        <td><%= tturn_in.priority %></td>
        <td><%= tturn_in.default %></td>
        <td><%= tturn_in.= %></td>
        <td><%= link_to 'Show', tturn_in %></td>
        <td><%= link_to 'Edit', edit_tturn_in_path(tturn_in) %></td>
        <td><%= link_to 'Destroy', tturn_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tturn in', new_tturn_in_path %>
