<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tturn_in.user_id %>
</p>

<p>
  <strong>Exercises:</strong>
  <%= @tturn_in.exercises_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tturn_in.url %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @tturn_in.completed %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @tturn_in.priority %>
</p>



<%= link_to 'Edit', edit_tturn_in_path(@tturn_in) %> |
<%= link_to 'Back', tturn_ins_path %>
