<%= form_for(@aassignment) do |f| %>
  <% if @aassignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aassignment.errors.count, "error") %> prohibited this aassignment from being saved:</h2>

      <ul>
      <% @aassignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :due %><br>
    <%= f.datetime_select :due %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
