<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @aassignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @aassignment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @aassignment.date %>
</p>

<p>
  <strong>Due:</strong>
  <%= @aassignment.due %>
</p>

<%= link_to 'Edit', edit_aassignment_path(@aassignment) %> |
<%= link_to 'Back', aassignments_path %>
